@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(0% 0 0);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(82% 0.189 84.429);
  --color-secondary-content: oklch(0% 0 0);
  --color-accent: oklch(75% 0.183 55.934);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(21% 0.006 285.885);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(39% 0.07 227.392);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.28125rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

:root {
  color-scheme: light;
}

body {
  @apply min-h-screen bg-base-200 text-base-content antialiased;
}
